<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body rounded-0 bg-dark p-4 tect-white">
        <h1 class="text-white text-center">Update a Task</h1>
        <form action="/task/{{task._id}}/edit" method="POST">
          <div class="mb-3">
            <input
            type="text"
            value="{{task.title}}"
            name="title"
            placeholder="Title"
            class="form-control rounded-0 bg-dark text-white"
          />
          </div>
          <div class="mb-3">
            <textarea
            name="description"
            rows="3"
            placeholder="Add a description"
            class="form-control rounded-0 bg-dark text-white"
          >{{task.description}}</textarea>
          </div>
          <button class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>