<div class="container">
    <div class="row">
        <div class="col-md-5">
          {{!-- Importo los archivos que estan en la carpeta tacks dentro de partials --}}
             {{> tasks/taskForm}}
        </div>
         <div class="col md 7">
             {{> tasks/taskTable}}
         </div>
    </div>
</div>